<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to natureCalling <span><i class="fas fa-campground"></i></span></h1>
            <p class="lead">"One touch of nature makes the whole world kin."</p>
            <p>View our hand-picked campgrounds from all over the world.</p>
            <p><a class="btn btn-primary btn-sm" href="/campgrounds/new" role="button">Add New campground</a></p> 
        </div>                     
    </header>

    <div class="row" style="display: flex; flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= campground.image %>">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer %>